@font-face {
  font-family: 'Fira Sans';
  font-stretch: normal;
  font-style: normal;
  font-weight: 100;
  src: url('fonts/FiraSans-Hair.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-stretch: normal;
  font-style: italic;
  font-weight: 100;
  src: url('fonts/FiraSans-HairItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-stretch: normal;
  font-style: normal;
  font-weight: 200;
  src: url('fonts/FiraSans-UltraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-stretch: normal;
  font-style: italic;
  font-weight: 200;
  src: url('fonts/FiraSans-UltraLightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  src: url('fonts/FiraSans-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-stretch: normal;
  font-style: italic;
  font-weight: 300;
  src: url('fonts/FiraSans-LightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  src: url('fonts/FiraSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-stretch: normal;
  font-style: italic;
  font-weight: 400;
  src: url('fonts/FiraSans-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  src: url('fonts/FiraSans-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-stretch: normal;
  font-style: italic;
  font-weight: 500;
  src: url('fonts/FiraSans-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  src: url('fonts/FiraSans-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-stretch: normal;
  font-style: italic;
  font-weight: 600;
  src: url('fonts/FiraSans-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  src: url('fonts/FiraSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-stretch: normal;
  font-style: italic;
  font-weight: 700;
  src: url('fonts/FiraSans-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-stretch: normal;
  font-style: normal;
  font-weight: 800;
  src: url('fonts/FiraSans-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-stretch: normal;
  font-style: italic;
  font-weight: 800;
  src: url('fonts/FiraSans-ExtraBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-stretch: normal;
  font-style: normal;
  font-weight: 900;
  src: url('fonts/FiraSans-Heavy.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-stretch: normal;
  font-style: italic;
  font-weight: 900;
  src: url('fonts/FiraSans-HeavyItalic.woff2') format('woff2');
}





@font-face {
  font-family: 'Fira Sans Condensed';
  font-stretch: condensed;
  font-style: normal;
  font-weight: 100;
  src: url('fonts/FiraSansCondensed-Hair.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans Condensed';
  font-stretch: condensed;
  font-style: italic;
  font-weight: 100;
  src: url('fonts/FiraSansCondensed-HairItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans Condensed';
  font-stretch: condensed;
  font-style: normal;
  font-weight: 200;
  src: url('fonts/FiraSansCondensed-UltraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans Condensed';
  font-stretch: condensed;
  font-style: italic;
  font-weight: 200;
  src: url('fonts/FiraSansCondensed-UltraLightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans Condensed';
  font-stretch: condensed;
  font-style: normal;
  font-weight: 300;
  src: url('fonts/FiraSansCondensed-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans Condensed';
  font-stretch: condensed;
  font-style: italic;
  font-weight: 300;
  src: url('fonts/FiraSansCondensed-LightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans Condensed';
  font-stretch: condensed;
  font-style: normal;
  font-weight: 400;
  src: url('fonts/FiraSansCondensed-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans Condensed';
  font-stretch: condensed;
  font-style: italic;
  font-weight: 400;
  src: url('fonts/FiraSansCondensed-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans Condensed';
  font-stretch: condensed;
  font-style: normal;
  font-weight: 500;
  src: url('fonts/FiraSansCondensed-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans Condensed';
  font-stretch: condensed;
  font-style: italic;
  font-weight: 500;
  src: url('fonts/FiraSansCondensed-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans Condensed';
  font-stretch: condensed;
  font-style: normal;
  font-weight: 600;
  src: url('fonts/FiraSansCondensed-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans Condensed';
  font-stretch: condensed;
  font-style: italic;
  font-weight: 600;
  src: url('fonts/FiraSansCondensed-SemiboldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans Condensed';
  font-stretch: condensed;
  font-style: normal;
  font-weight: 700;
  src: url('fonts/FiraSansCondensed-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans Condensed';
  font-stretch: condensed;
  font-style: italic;
  font-weight: 700;
  src: url('fonts/FiraSansCondensed-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans Condensed';
  font-stretch: condensed;
  font-style: normal;
  font-weight: 800;
  src: url('fonts/FiraSansCondensed-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans Condensed';
  font-stretch: condensed;
  font-style: italic;
  font-weight: 800;
  src: url('fonts/FiraSansCondensed-ExtraboldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans Condensed';
  font-stretch: condensed;
  font-style: normal;
  font-weight: 900;
  src: url('fonts/FiraSansCondensed-Heavy.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Sans Condensed';
  font-stretch: condensed;
  font-style: italic;
  font-weight: 900;
  src: url('fonts/FiraSansCondensed-HeavyItalic.woff2') format('woff2');
}





@font-face {
  font-family: 'Fira Mono';
  font-stretch: normal;
  font-style: regular;
  font-weight: 400;
  src: url('fonts/FiraMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Mono';
  font-stretch: normal;
  font-style: regular;
  font-weight: 500;
  src: url('fonts/FiraMono-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Mono';
  font-stretch: normal;
  font-style: regular;
  font-weight: 700;
  src: url('fonts/FiraMono-Bold.woff2') format('woff2');
}
